In [1]:
import multiprocessing as mp
import PSO as pso
import pandas as pd
import tqdm
import HIBRID_TS_PSO as hibrid
import TS as ts

In [2]:
results = []
def print_result(result):
    print(result)
    results.append(result)

In [3]:
def multi(func, nb_repeat = 15, maxiter = 50):
    
    pool = mp.Pool(3)
    tqdm.tqdm([pool.apply_async(func,  kwds = dict(maxiter=maxiter),
                                          callback = print_result) for x in range(nb_repeat)])
    pool.close()

In [4]:
def write(results, opt_value):
    
    res = pd.DataFrame(results, columns = ['Value','Time best', 'Exe time'])
    
    res['gap'] = res['Value'].apply(lambda sol: abs(sol - opt_value)/opt_value)
    
    display(res)
    
    best_val = res['Value'].max()
    avg_best_time = res['Time best'].mean()
    avg_tot_time = res['Exe time'].mean()
    
    agap = res['gap'].mean()
    
    
    st_dev  = (res['gap'].apply(lambda g: (g - agap)**2).mean())**(0.5)
    
    
    print(f'Best value = {best_val}')
    print('Average best time: {0:.6f}'.format(avg_best_time))
    print('Average total time: {0:.6f}'.format(avg_tot_time))
    print('Gap: {0:.3f}%'.format(agap*100))
    print('Standard deviation: {0:.3f}%'.format(st_dev*100))

In [5]:
multi(ts.tabu_search)

  0%|                                                                                           | 0/15 [00:00<?, ?it/s]

In [7]:
write(results,209)

    Value  Time best  Exe time  gap
0     209        0.0  0.009552  0.0
1     209        0.0  0.009790  0.0
2     209        0.0  0.020759  0.0
3     209        0.0  0.010916  0.0
4     209        0.0  0.011669  0.0
5     209        0.0  0.003820  0.0
6     209        0.0  0.010662  0.0
7     209        0.0  0.020320  0.0
8     209        0.0  0.006000  0.0
9     209        0.0  0.010020  0.0
10    209        0.0  0.009230  0.0
11    209        0.0  0.008619  0.0
12    209        0.0  0.035359  0.0
13    209        0.0  0.008833  0.0
14    209        0.0  0.004000  0.0

Best value = 209
Average best time: 0.000000
Average total time: 0.011970
Gap: 0.000%
Standard deviation: 0.000%